*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body{
    background-color: white;
}
h1{
    text-align: centre;
    padding-left: 25%;
    margin-bottom: 15px;
    
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height:75vh;
    border-radius: 8px 8px 0 0;
    background: white;
    
    
}

.result{
    background-color: #413e3e;
    height:15vh;
    color: white;
    border-radius: 8px 8px 0 0;
    margin: 1px;
    padding: 20px;
    font-size: 20px;

}

.buttons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1px; 
}

.row{
    display: flex;
    justify-content: space-around;
}

 .row button{
    width: 75px;
    height: 75px;
    outline: none;
    border: none;
    font-size: 20px;
    text-align: center;
    
} 

.row button:hover{
    background-color: #e0e0e0;
}

.row button:active{
    background-color: #eeb3b3;
}


#dot{
    font-weight: 600;
}

.text{
    margin: 20px auto;
    
}